@charset "utf-8";
body{
    width: 100%;
}
div.screen {
  width: 1200px;
  height: 670px;
  background-color: skyblue;
  margin: 0 auto;
  position: relative;
}

#sun{
  width: 650px;
  height: auto;
     position: absolute;
  left: 250px;
  top: 0;
}
#sun img{
  width: 100%;
  height: auto;
}
#cat1{
  width: 400px;
  height: 300px;
  position: absolute;
  left: 400px;
  top: 275px;
  display: none;
}
#cat1 img{
  width: 100%;
  height: auto;
}


#hirameki{
  width: 500px;
  height: auto;
    position: absolute;
  left: 350px;
  top: 250px;
  display: none;
}
#hirameki img{
  width: 100%;
  height: auto;
}

#mount{
  width: 1000px;
  height: auto;
     position: absolute;
  left: 0;
  top: -100px;
  display: none;
}
#mount img{
  width: 100%;
  height: auto;
}

#pick{
  width: 380px;
  height: auto;
    position: absolute;
  left: calc(100% - 400px);
  top: calc(100% - 300px);
  display: none;
}
#pick img{
  width: 100%;
  height: auto;
}

#green{
  width: 800px;
  height: auto;
position: absolute;
  left: 200px;
  top: 50px;
  display: none;
}

#green img{
  width: 100%;
  height: auto;
}

#oni{
  width: 500px;
  height: auto;
    position: absolute;
  left: 350px;
  top: 200px;
  display: none;
}

#oni img{
  width: 100%;
  height: auto;
}

#chou{
  width: 200px;
  height: auto;
    position: absolute;
  left: 165px;
  top: 50px;
  display: none;
}
#chou img{
  width: 100%;
  height: auto;
}

#mogu{
  width: 100px;
  height: auto;
    position: absolute;
  left: 700px;
  top: 100px;
  display: none;
}
#mogu img{
   width: 100%;
  height: auto;
}

#mogu2{
  width: 200px;
  height: auto;
    position: absolute;
  left: 200px;
  top: 500px;
  display: none;
}
#mogu2 img{
   width: 100%;
  height: auto;
}

#mogu3{
  width: 175px;
  height: auto;
    position: absolute;
  left: 830px;
  top: 450px;
  display: none;
}
#mogu3 img{
   width: 100%;
  height: auto;
}

#mogu4{
  width: 125px;
  height: auto;
    position: absolute;
  left: 220px;
  top: 200px;
  display: none;
}
#mogu4 img{
   width: 100%;
  height: auto;
}
#heart{
  width: 500px;
  height: auto;
    position: absolute;
    left: 350px;
    top: 100px;
    display: none;
}
#heart img{
  width: 100%;
  height: auto;
}

#chu{
  width: 300px;
  height: auto;
    position: absolute;
    left: 435px;
    top: 210px;
    display: none;
}
    
    #chu img{
       width: 100%;
  height: auto;
    }